body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    background-color: #2d0303;
}

.App {
    text-align: center;
    margin: 0 auto;
    overflow-y: auto;
}
:root {
    --app-header-height: 10vh;
    --send-message-input-height: 10vh;
}
.App header {
    background-color: #5d14c3;
    height: var(--app-header-height);
    min-height: 50px;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
    padding: 10px;
    box-sizing: border-box;
}

.App section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background-color: rgba(6, 4, 15, 0.785);
    position: absolute;
    left: 8%;
    /* added */
    right: 0;
    /* added */
}

.left-panel {
    display: flex;
    flex-direction: column;
    justify-content: left;
    position: absolute;
    height: calc(100vh - var(--app-header-height));
    top: var(--app-header-height);
    overflow-y: auto;
    width: 22%;
    background-color: #011111;
    padding: 32px 16px;
    float: left;
}

.App section::-webkit-scrollbar {
    width: 10px;
}

.App section::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.App section::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}


.send-message-form {
    height: var(--send-message-input-height);
    position: fixed;
    bottom: 0;
    background-color: rgb(10, 222, 31);
    width: 70%;
    display: flex;
    font-size: 1.5rem;
}

.send-message-form button {
    width: 20%;
    background-color: rgb(56, 56, 143);
}

/* .left-panel::-webkit-scrollbar {
    width: 10px;
}

.left-panel::-webkit-scrollbar-track {
    background: #e90606;
}

.left-panel::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
} */

section {
    margin-left: 220px;
    padding: 10px;
    overflow-y: auto;
}

.chat-messages-container {
    --p: 16px;
    --diff: calc(var(--app-header-height) + var(--send-message-input-height));
    height: calc(100vh - var(--diff) - var(--p) - var(--p));
    padding-left: var(--p);
    padding-right: var(--p);
    /* padding-top: var(--app-header-height); */
    /* padding-bottom: var(--send-message-input-height); */
    margin: 0;
    overflow-y: auto;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #F1F1F1;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #0b93f6;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #025189;
}

input {
    line-height: 1.5;
    width: 100%;
    font-size: 1.5rem;
    background: rgb(249, 240, 240);
    color: rgb(1, 0, 3);
    outline: none;
    border: none;
    padding: 0 10px;
}

button {
    background-color: #34282e;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 1.25rem;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.sign-in {
    color: #282c34;
    background: white;
    max-width: 400px;
    margin: 0 auto;
}

ul,
li {
    text-align: left;
    list-style: none;
}

p {
    max-width: 300px;
    margin-bottom: 12px;
    line-height: 24px;
    padding: 10px 20px;
    border-radius: 25px;
    position: relative;
    color: white;
    text-align: center;
}

.message {
    display: flex;
    align-items: center;
}


.sent {
    flex-direction: row-reverse;
}

.sent p {
    color: white;
    background: #0b93f6;
    align-self: flex-end;
}

.received p {
    background: #e5e5ea;
    color: black;
}

img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 2px 5px;
}

.user {
    display: flex;
    align-items: center;
}

.user img {
    margin-right: 1rem;
}

.user p {
    margin: 0;
    font-weight: bold;
}

.user-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.avatar-container {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.avatar-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.display-name {
    font-weight: bold;
    margin: 0;
    text-align: center;
    flex: 1;
}