body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    position: absolute;
    background-color: #2d0303;
  }
  
  .App {
    
    text-align: center;
    margin: 0 auto;
    overflow-y: auto;
  }
  
  .App header {
    background-color: #5d14c3;
    height: 10vh;
    min-height: 50px;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .App section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background-color: rgba(6, 4, 15, 0.785);
    position: absolute;
    left: 8%; /* added */
    right: 0; /* added */
  }
  .left-panel {
    display: flex;
    flex-direction: column;
    justify-content: left;
    min-height: 100vh;
    width: 22%;
    background-color: #011111;
    padding: 10px;
    position: absolute;
    float: left;
  }
  
  main {
    padding: 10px;
    height: 100vh;
    margin: 10vh 0 10vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
  }
  
  .App section::-webkit-scrollbar {
    width: 10px;
  }
  
  .App section::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  .App section::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
  
  
  form {
    height: 10vh;
    position: fixed;
    bottom: 0;
    background-color: rgb(10, 222, 31);
    width: 70%;
    display: flex;
    font-size: 1.5rem;
  }
  
  form button {
    width: 20%;
    background-color: rgb(56, 56, 143);
  }
  

  
  .left-panel::-webkit-scrollbar {
    width: 10px;
  }
  
  .left-panel::-webkit-scrollbar-track {
    background: #e90606;
  }
  
  .left-panel::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
  
  section {
    margin-left: 220px;
    padding: 10px;
    overflow-y: auto;
  }
  
  main {
    padding: 10px;
    height: 80vh;
    margin: 10vh 0 10vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
  }
  
  input {
    line-height: 1.5;
    width: 100%;
    font-size: 1.5rem;
    background: rgb(249, 240, 240);
    color: rgb(1, 0, 3);
    outline: none;
    border: none;
    padding: 0 10px;
  }
  
  button {
    background-color: #34282e; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 1.25rem;
  }
  
  button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  .sign-in {
    color: #282c34;
    background: white;
    max-width: 400px;
    margin: 0 auto;
  }
  
  ul,
  li {
    text-align: left;
    list-style: none;
  }
  
  p {
    max-width: 300px;
    margin-bottom: 12px;
    line-height: 24px;
    padding: 10px 20px;
    border-radius: 25px;
    position: relative;
    color: white;
    text-align: center;
  }
  
  .message {
    display: flex;
    align-items: center;
  }
  
  
  .sent {
    flex-direction: row-reverse;
  }
  
  .sent p {
    color: white;
    background: #0b93f6;
    align-self: flex-end;
  }
  .received p {
    background: #e5e5ea;
    color: black;
  }
  
  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 2px 5px;
  }
  
  